html,
body
{
  background-color: #e70000;
  box-sizing: border-box;
  color: #000;
  font-family: "Exo 2", serif;
  font-size: 7vh;
  font-weight: 500;
  min-height: 100%;
  overflow-x: hidden;
  padding: 5%;
  text-align: center;
  width: 100%;
}

body
{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div
{
  z-index: 10;
}

#txt
{
  margin-bottom: 5vh;
  margin-top: -12vh;
}

#txt,
#timer
{
  z-index: 15;
}

#BG
{
  max-height: 100%;
  position: fixed;
  transition: filter .2s ease-in-out;
}

.inline
{
  background-color: #df0000;
  background-image: url('IMG/logo.png');
  background-repeat: no-repeat;
  background-size: 800px;
  filter: brightness(80%) blur(25px);
  height: 120vh;
  position: fixed;
  top: -10vh;
  transition: width 1s ease-in-out;
  width: 62vw;
  z-index: 5;
}

.inline:first-child
{
  background-position: 39vw 50%;
  left: -10vw;
}

.inline:nth-child(2)
{
  background-position: top 50% right 39vw;
  right: -10vw;
}

.inline:first-child div
{
  background-image: linear-gradient(110deg, #300, transparent);
  height: 100%;
  width: 100%;
}

.inline:nth-child(2) div
{
  background-image: linear-gradient(70deg, transparent, #300);
  height: 100%;
  width: 100%;
}
